<select name="Npartidos" id="Npartidos">
	<option value="">Numero de partidos</option>
	<option value="1">1</option>
	<option value="2">2</option>
	<option value="3">3</option>
	<option value="4">4</option>
	<option value="5">5</option>
	<option value="6">6</option>
	<option value="7">7</option>
	<option value="8">8</option>
	<option value="9">9</option>
	<option value="10">10</option>
</select>
<button id="btnNpartidos">Click</button>
<div id="partidos">
	
</div>
 <div id="example"></div>
{{#section 'React'}}
	<script type="text/jsx">

	'use strict';
	//contenedor de los partidos
	var PartiesBox = React.createClass({
		render: function() {
			return(
				<div className= "partyBox">
					<h1>Partidos</h1>
					<PartyList />
					<PartyForm />
				</div>
			);
		}
	});

	var PartyList = React.createClass({
		render: function(){
			return(
				<div className="partyList">
					<Party partyName="PRI">
						Partio Revolucionario Institucioanl
						<span>
							<Votos />
						</span>
					</Party>
					<Party partyName="PAN"></Party>
				</div>
			);
		}
	});

	var Party = React.createClass({
		render: function(){
			return(
				<div className="party">
					<h2 className="partyName">
						{this.props.partyName}
					</h2>
					{this.props.children}
				</div>
			);
		}
	});

	var Votos = React.createClass({
		render: function(){
			return(
				<div className="votos">
					votos
				</div>
			);
		}
	});

	var PartyForm = React.createClass({
		render: function(){
			return(
				<div className="addonsPartido">
					Aqui esta el formulario del partido
				</div>
			);
		}
	});


	//render de todos los elementos
	React.render(
		<PartiesBox />,
		document.getElementById('partidos')
	);

		$('#btnNpartidos').on('click', function(){
			var Npartidos = parseInt($('#Npartidos').val());
			if (!Npartidos) console.log('Selecciona un numero');
			else
			$.ajax('/obtenerPartidos',{
				success: function(data){
					var partidos = data;
					for (var i = 0; i < partidos.length; i ++){
						$('#partidos').append('<label data-partido="'+partidos[i].Prefijo+'">' + partidos[i].Nombre + '</label><br>');
						React.render(
        					<h1>partidos</h1>,
        					document.getElementById('example')
      					);
					}
				}
			})
		})
	</script>
{{/section}}