<select name="Npartidos" id="Npartidos">
	<option value="">Numero de partidos</option>
	<option value="1">1</option>
	<option value="2">2</option>
	<option value="3">3</option>
	<option value="4">4</option>
	<option value="5">5</option>
	<option value="6">6</option>
	<option value="7">7</option>
	<option value="8">8</option>
	<option value="9">9</option>
	<option value="10">10</option>
</select>
<button id="btnNpartidos">Click</button>
<div id="partidos">
	
</div>
 <div id="example"></div>
{{#section 'React'}}
	<script type="text/jsx">

	'use strict';

	var partidos = [
	{
		"idPartido":1,
		"Nombre":"Partido Revolucionario Institucional",
		"Prefijo": "PRI",
		"PaginaWeb": "http://pri.org.mx",
		"Urllogo":"http://upload.wikimedia.org/wikipedia/commons/5/5f/PRI_Party_%28Mexico%29.svg",
	},
	{
		"idPartido":2,
		"Nombre":"Partido Acción Nacional",
		"Prefijo": "PAN",
		"PaginaWeb": "http://pan.org.mx/",
		"Urllogo":"http://upload.wikimedia.org/wikipedia/commons/1/14/PAN_%28Mexico%29.svg",
	}];
	//contenedor de los partidos
	var PartieBox = React.createClass({
		getInitialState: function() {
    		return {partidos: []};
  		},
		render: function() {
			var partiNodes = this.props.partidos.map(function(partido){
				return(
					<div className= "partyBox">
						<PartyName party={partido.Nombre}/>
						<PartyPrefix prefijo={partido.Prefijo}/>
						<PartyVotos />
					</div>
				);
			});
			return(
				<div className="partyList">
					{partiNodes}
				</div>
			);
		}
	});

	var PartyName = React.createClass({
		render: function(){
			return(
				<div className="partyName">
					{this.props.party}
				</div>
			);
		}
	});

	var PartyPrefix = React.createClass({
		render: function(){
			return(
				<div className="partyPrefix">
					{this.props.prefijo}
				</div>
			);
		}
	});

	var PartyVotos = React.createClass({
		render: function(){
			return(
				<div className="partyVotos">
				32423432432
				</div>
			);
		}
	});


	//render de todos los elementos
	React.render(
		<PartieBox partidos = {partidos}/>,
		document.getElementById('partidos')
	);

		$('#btnNpartidos').on('click', function(){
			var Npartidos = parseInt($('#Npartidos').val());
			if (!Npartidos) console.log('Selecciona un numero');
			else
			$.ajax('/obtenerPartidos',{
				success: function(data){
					var partidos = data;
					for (var i = 0; i < partidos.length; i ++){
						$('#partidos').append('<label data-partido="'+partidos[i].Prefijo+'">' + partidos[i].Nombre + '</label><br>');
						React.render(
        					<h1>partidos</h1>,
        					document.getElementById('example')
      					);
					}
				}
			})
		})
	</script>
{{/section}}